.MusicianDetailPanel{
    text-align: center;
}
.headerButtons{
    padding-top: 2%; 
}
.centerForm{
    padding-left: 37%;
    padding-top: 2%; 
    padding-bottom: 2%;
    border: 2px solid gainsboro;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Laser_Towards_Milky_Ways_Centre_Wallpaper.jpg");
}
.titleM{
    text-decoration-style: dashed;
}
.myButtons{
    background-color: steelblue;
}
.tableColumns{
    background-color: lightslategray !important;
}