.MusicianDetailPanel{
    text-align: center;
}
.headerButtons{
    padding-top: 2%; 
}
.senterForm{
    padding-left: 40%;
    padding-top: 2%; 
    padding-bottom: 2%;
    border: 2px solid gainsboro;
}
.titleM{
    text-decoration-style: dashed;
}
.headerTitle{

}